<a class="btn btn-default" ng-href="#!/course" role="button">return</a>
<form ng-submit="submit()">
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Names" ng-model="course.name">
  </div>
  <div><label>choose klasses:</label></div>
  <div class="checkbox">
    <label ng-repeat="(key, klass) in klasses" style="margin-left: 20px;">
      <input type="checkbox" ng-model="course.klasses[key]" ng-true-value="{{klass}}" ng-false-value="{{null}}">{{klass.name}}
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
