<ui-view>
  <button class="btn btn-default" type="submit" style="margin-bottom: 20px;" ng-click="add()">add</button>
  <table class="table table-striped">
    <tr>
      <td>username</td>
      <td>name</td>
      <td>sex</td>
      <td>teacher</td>
      <td>view</td>
      <td>edit</td>
      <td>delete</td>
    </tr>
    <tr ng-repeat="(key, klass) in klasses">
      <td>{{klass.username}}</td>
      <td>{{klass.name}}</td>
      <td>{{klass.sex}}</td>
      <td>{{klass.teacher.name}}</td>
      <td><a ng-href="#!/klass/view/{{klass.id}}">view</a></td>
      <td><a ng-href="#!/klass/edit/{{klass.id}}">edit</a></td>
      <td><a ng-click="delete(klass.id)">delete</a></td>
    </tr>
  </table>
  <page number="data.number" total-pages="data.totalPages" reload-page="reloadByNumber" first="data.first" last="data.last"></page>
</ui-view>
